* {
box-sizing: border-box;
}

/*this element specifies the font-family and background color of the body*/
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background-color: #c9ccc5;
    margin: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #e64626;
}

.header h1 {
    display: block;
    font-size: 3em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #e7eb15;
}

.personal-logo {
    width: 110px;
}

.header h2 {
    display: block;
    font-size:2em;
    margin-block-start: 1.2em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-style:italic;
    color: #000000;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: #e78470;
}

nav a {
    font-size: 1.5em;
    padding: 15px 40px;
    text-decoration: none;
    text-align: center;
    font-weight:bold;
    color: #1a2e46;
}

nav a:hover {
    background-color: #e2b8b0;
    box-shadow: inset 0px 0px 8px #e64626, 0 0 15px #e64626;
}

.section-code{
    display: row;
    border:solid;
    margin: 15px;
}

.section-code h1 {
    padding:10px;
    font-size: 2em;
    font-weight: bold;
    color: #1a2e46;
}

.section-code:hover {
    background-color: #e2b8b0;
    box-shadow: inset 0px 0px 8px #e64626, 0 0 15px #e64626;
}

.passport-image{
    float: left;
    margin: 10px 10px 10px 10px;
    width: 20%;
    border: 3px solid #e64626;
    border-radius: 15px;
}

.section-code p{
    font-size: 1.5em;
    margin: 13px 10px 13px 10px;
    line-height: 1.2;
    color: #000000;  
}

.skill-sets > div {
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.projects-completed > div {
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.projects-completed li{
    font-size: 1.5em;
    list-style-type: square;
    margin: 13px 10px 13px 10px;
    line-height: 1.2;
    color: #000000;  
}

.footer{
margin-top: auto;
background: #e78470;
}

.footer_phone_email{
    margin: 0;
    padding: 20px;
    border: 0;
    outline: 0;
    background: 0 0;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
}

.footer_sub {
    width: 100%;
    background: #e64626;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-padding {
    max-width: 100%;
    width: calc(100% - 200px);
    margin: 0 auto;
}

.footer_sub_content {
    width: 80%;
    padding: 18px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_sub_links {
    display: flex;
}

.footer_sub_links a {
    padding: 0 18px;
    font-size: 1.25em;
    font-weight: 600;
    justify-content: space-between;
    color: #ffffff 
}

.footer_sub p {
    padding: 0px;
    font-size: 1.25em;
    font-weight: bold;
}