* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*this element specifies the background color of the body*/
body {
    background-color: #d9dcd6;
}

header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    line-height: 1.5;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 40px;
    margin: 2px 2px 2px 50px;
    background-color: #ffffff;
    color: #3edf16;
}

.header nav {
    padding-top: 15px;
    margin-right: 50px;
    float: right;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 20px;
    color: #ffffff;
}

.header nav ul li {
    display: inline-block;
    margin-left: 20px;
    list-style-type: none;
}

.main {
    height: 150px;
    justify-content:right;
    background-color: #cfc56b;
    color: #020202;
}

.main h2{
    height: 150px;
    background-color: #cfc56b;
    color: #020202;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  
  .justify-right {
    justify-content: right;
  }

.sidebar-a {
    margin: 20px 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 200px;
    height: 200px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    text-align:right;
    font-size: 30px;
    background-color: #2589bd;
}

.about-me-text p {
    display: inline-block;
    font-size: 14px;
}

.sidebar-w {
    margin: 20px 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 200px;
    height: 500px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    text-align:right;
    font-size: 30px;
    background-color: #2589bd;
}

.sidebar-f {
    margin: 20px 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 200px;
    height: 150px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    text-align:right;
    font-size: 30px;
    background-color: #2589bd;
}

.footer {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 17.5px;
    line-height: 1.5;
    background-color: #2a607c;
    color: #ffffff;
}
.footer nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 20px;
}

.footer nav ul li {
    display: inline-block;
    margin-left: 40px;
    list-style-type: none;
}

.footer h1 {
    display: inline-block;
    font-size: 48px;
}