:root{
    --color-darkerOrange:#b11d00;
    --color-darkOrange:#e64626;
    --color-lightOrange:#e78470;
    --color-lighterOrange:#e2b8b0;
    --color-white:#ffffff;
    --color-blue: #1a2e46;
    --color-black: #000000;
}

* {
box-sizing: border-box;
}

/*this element specifies the font-family and background color of the body*/
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background-color: #c9ccc5;
    margin: 10px;
}

/*this is complete header family*/
header {
    display: flex;
    /* position: fixed;
    width: 100%; */
    justify-content: space-between;
    padding: 20px;
    background-color: var(--color-darkOrange);
}

/* this property include a glow property */
.header h1 {
    font-size: 3em;
    margin-block-start: 0.67em;
    font-weight: bold;
    color: var(--color-black);
    animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px var(--color-white), 0 0 20px var(--color-white), 0 0 30px var(--color-darkerOrange), 0 0 40px var(--color-darkerOrange), 0 0 50px var(--color-darkerOrange), 0 0 60px var(--color-darkerOrange), 0 0 70px var(--color-darkerOrange);
    }
    to {
      text-shadow: 0 0 20px var(--color-white), 0 0 30px var(--color-lighterOrange), 0 0 40px var(--color-lighterOrange), 0 0 50px var(--color-lighterOrange), 0 0 60px var(--color-lighterOrange), 0 0 70px var(--color-lighterOrange), 0 0 80px var(--color-lighterOrange);
    }
  }

.personal-logo {
    width: 110px;
    border: 4px dotted var(--color-blue);    
}

.header h2 {
    font-size:2em;
    margin-block-start: 1.2em;
    font-style:italic;
    color: #000000;
}

.bg-light {
    background-color: var(--color-lightOrange) !important;
}

nav a {
    font-size: 1.5em;
    padding: 15px 40px;
    text-decoration: none;
    text-align: center;
    font-weight:bold;
    color: var(--color-blue);
}

/* added hovering component to the nav buttons */
nav a:hover {
    background-color: var(--color-lighterOrange);
    box-shadow: inset 0px 0px 8px var(--color-darkOrange), 0 0 15px var(--color-darkOrange);
}

.navbar-light .navbar-nav .nav-link.active {
    padding: 20px
}

/*this is complete main section family*/
.section-code {
    display: flex;
    border: solid;
    border-radius: 15px;
    margin: 1.5em;
}

.card {
    justify-content:center
}

.header-card {
    padding: 0.5em;
}

.section-code:hover {
    background-color: var(--color-lighterOrange);
    box-shadow: inset 0px 0px 15px var(--color-blue), 0 0 20px var(--color-darkerOrange);
}

.passport-image{
    float: left;
    margin: 10px 10px 10px 10px;
    width: 20%;
    height: 40%;
    border: 3px solid var(--color-darkOrange);
    border-radius: 15px;
}

.section-code p{
    font-size: 1.5em;
    margin: 13px 10px 13px 10px;
    line-height: 1.2;
    color: var(--color-black);  
}

.skill-sets > div {
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

/* Container for skill bars */
.container {
  width: 90%;
  background-color: var(--color-white);
}

.skills {
  text-align: right;
  color: rgb(5, 5, 5);
}

.html {
    width: 95%; 
    background-color: var(--color-darkerOrange);
}

.css {
    width: 85%; 
    background-color: var(--color-darkOrange);
}

.bs {
    width: 80%; 
    background-color: var(--color-darkOrange);
}

.js {
    width: 65%; 
    background-color:var(--color-lightOrange);
} 

.node {
    width: 60%; 
    background-color: var(--color-lightOrange);
}

.projects-completed > div {
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.top-projects-completed li{
    font-size: 1.5em;
    line-height: 2.5;
    color: var(--color-black);  
}

.projects-completed li{
    font-size: 1.5em;
    list-style-type: square;
    margin-top: 10px; 
    margin-left: 50px;
    margin-bottom: 10px;
    line-height: 1.2;
    color: var(--color-black);  
}

#myBtn {
    border: 2px solid var(--color-blue);
    border-radius: 15px;
    background-color:var(--color-lightOrange);
    padding: 5px;
    width: 250px;
    height: 60px;
    margin: 5px;
    font-size: 2em;
    text-align: center;
}

/* defining modals */
/* The Modal (background) */
.modal {
    display:none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
/* Modal Content/Box */
.modal-content {
    background-color: var(--color-lighterOrange);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 3px solid var(--color-darkOrange);
    width: 30%; /* Could be more or less, depending on screen size */
}
  
/* The Close Button */
.close {
    color: rgb(10, 10, 10);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* modal definition ends here */

/* the application will increase in size when I hover on it */
.projects-completed li:hover {
    font-size: 1.75em;
    transition: all 0.5s ease-in-out;
    top:-2px;
    left:-2px;
}

.top-projects-completed li:hover {
    font-size: 1.6em;
    transition: all 0.5s ease-in-out;
    top:-2px;
    left:-2px;
}

/* Contact me section properties */
.page_contact{
    margin: 0;
    padding: 0px;
    font-size: 2.5em;
    list-style-type:none;
    margin-top: 5px; 
    margin-left: 15px;
    margin-bottom: 5px;
}

/* Sub-footer section properties --- share the similar properties as above sections */
.footer_sub {
    background: var(--color-darkOrange);
    display: flex;
    align-items: center;
}

.container-padding {
    width: calc(100% - 200px);
}

.flex-container {
    list-style: none;
    display: flex;
}
  
.flex-start { 
    justify-content: flex-start; 
}

.flex-item {
    padding: 10px;
    width: 200px;
    height: 60px;
    margin: 5px;
    line-height: 40px;
    font-size: 1em;
    text-align: center;
}

.footer_sub_content {
    padding: 18px;
}

.footer_sub_links {
    display: flex;
}

.footer_sub_links a {
    padding: 0 18px;
    font-size: 1.25em;
    font-weight: 600;
    justify-content: space-between;
    color: var(--color-white); 
}

.footer_sub p {
    padding: 0px;
    font-size: 1.25em;
    font-weight: bold;
}

/* Responsive screen design properties */
@media screen and (max-width: 768px) {
/* Use flex-direction to stack the header, navbar, and sub-footer */
    nav {
      flex-direction: column;
    }
/* Change the header background */
    header {
        background-color: var(--color-blue);
    }

    header h2 {
        color: var(--color-white);
    }

    .passport-image{
        max-width: 0px;
    }

/* Change the sub-footer background */
    .footer_sub {
    background-color: var(--color-blue);
    }
}